.row {
  display: grid;
  grid-template-columns: minmax(100px, 300px) 1fr;
  background-color: #fff;
  text-decoration: none;
  color: black;
}
.row {
  margin-bottom: 3px;
}

.row:hover {
  background-color: #f4f2f2;
  cursor: pointer;
}
