.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.content {
  padding: 1rem 2.2rem;
  font-weight: 400;
  font-size: 0.9rem;
}

.headers {
  margin-bottom: 3px;
  display: grid;
  grid-template-columns: minmax(100px, 300px) 1fr;
  background-color: #fff;
}

.content-header {
  text-transform: uppercase;
  font-weight: 600;
  color: #ae0fc7;
}
