.details-container {
  display: flex;
  padding: 1em 3em;
  height: calc(100% - 300px);
}

.details-container > * {
  flex: 1;
}

.contacts-container {
  display: flex;
}

.contacts-container > * {
  flex: 1;
}

.contact {
  display: flex;
  flex-direction: column;

  padding: 1.5em;
  font-size: 1rem;
}
.contact h4 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 2em;
}
.contact p {
  font-size: 1em;
  font-weight: 300;
  color: rgb(99, 99, 99);
}

.places-container {
  font-size: 1rem;
  padding: 1.5em;
  background-color: #fff;
  overflow-y: auto;
}

.places-container h4 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 2em;
}

.places-container li {
  background-color: var(--bg-color);
  padding: 1em 2em;
  font-size: 0.8rem;
  color: rgb(99, 99, 99);

  display: grid;
  grid-template-columns: minmax(100px, 200px) 1fr;
}

.places-container a:not(:last-of-type) li {
  margin-bottom: 3px;
}
