.details-container {
  display: flex;
  padding: 1em 3em;
  height: calc(100% - 300px);
}

.details-container > * {
  flex: 1;
}

.contacts-container {
  display: flex;
}

.contacts-container > * {
  flex: 1;
}
